<div class="bg-white" id="section3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center ">
      <h1 class="display-4 fw-normal">Servicios</h1>
      <p class="fs-5 text-muted">Dejalo en manos de los profesionales. Retrata tus ideas, emociones y mejores momentos con la mejor tecnologia del mercado.</p>
    </div>
<div>
</div>
  <main class="container py-3 ">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Eventos sociales</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$10000<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Cobertura con equipo profesional</li>
              <li>1 fotógrafo</li>
              <li>50 fotografías impresas en tamaño media carta con retoque</li>
              <li>Cobertura de 3 horas</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Cotizalo Ya!</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Publicidad</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15000<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Cobertura con equipo profesional</li>
              <li>1 fotógrafo</li>
              <li>100 fotografías impresas en tamaño media carta con retoque</li>
              <li>Cobertura de 6 horas</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Cotizalo Ya!</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal">Corporativas</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$20000<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Cobertura con equipo profesional</li>
              <li>1 fotógrafo</li>
              <li>100 fotografías impresas en tamaño media carta con retoque</li>
              <li>Cobertura de 12 horas hora</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Cotizalo Ya!</button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="display-6 text-center mb-4">Planes y Servicios</h2>

    <div class="table-responsive">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 34%;"></th>
            <th style="width: 22%;">Eventos sociales</th>
            <th style="width: 22%;">Publicidad</th>
            <th style="width: 22%;">Corporativas</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" class="text-start">Álbum personalizado</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Photobook de 10x12 pulgadas </th>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th scope="row" class="text-start">Fotografías en formato digital</th>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
          <tr>
            <th scope="row" class="text-start">Fotografías ilimitadas</th>
            <td></td>
            <td></td>
            <td><svg class="bi" width="24" height="24"><use xlink:href="#check"/></svg></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>