<div class="container_teamworker text-center marketing text-white " id="section4">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center ">
      <h1 class="display-4 fw-normal">Conocenos</h1>
      <h5>Siempre dedicados a lo que nos apasiona, para brindarte el mejor servicio </h5>
    </div>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="https://www.sprintcv.com/assets/sprintcv-helps-java-consultant-to-generate-amazing-cv-1228395647dab08deb54ccec4dd549db6477ded6803a1f00ac7fbc499b66555c.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Parveen Anand</h2>
        <h3>Lider Directivo</h3>
        
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="https://computacioninteractiva.com/wp-content/uploads/2021/01/beautiful-girl-with-afro-hair-min-500x500.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Diana Petersen</h2>
        <h3>Fotografa Profesional</h3>
        
      </div>
      <div class="col-lg-4">
        <img src="https://cdn1.photostockeditor.com/t/2612/human-smiling-man-standing-near-green-tree-person-person-image.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Larry Parker</h2>
        <h3>Diseñador</h3>
        
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>

<div class="my-md-6 ps-md-6 " id="section5">
    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Contactanos</h2>
        <p class="lead">Adquiere un experiencia más persolizada.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4" style="padding: 50px;">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab bi-facebook" style="font-size: 3rem;"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab bi-whatsapp" style="font-size: 3rem;"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab bi-google" style="font-size: 3rem;"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button" 
        ><i class="fab bi-instagram" style="font-size: 3rem;"></i
      ></a>

    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->
      </div>
    </div>
  </div>